* {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 600;
}

.text-right {
  text-align: right;
}

/* .timelayout {
  line-height: 61px;
} */

.pagebackground {
  background-color: #F2F2F2;
  margin: 0 -15px;
  padding: 0 30px;
}

.header {
  background-color: #000;
  margin: 0 -30px;
  padding: 0 30px;
}

.logotype {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  padding: 10px 0;
}

.haedertext {
  text-align: center;
}

.active {
  color: #fff;
  font-weight: 600;
}

.activebar {
  border-bottom: 4px solid #fff;
  padding: 18px 0 10px 0;
}

.inactive {
  color: #9B9B9B;
  font-weight: 600;
}

.admin {
  color: #fff;
  text-align: right;
}

.info {
  color: #9B9B9B;
  font-weight: normal;
}

.arrow {
  color: #000;
}

.info .icon {
  margin: 0 5px;
}

.icon {
  margin-right: 10px;
}

.period {
  margin-left: 20px;
}

.table {
  background-color: #fff;
  box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
  padding: 15px 20px 20px 20px;
}

.tittle {
  font-size: 24px;
  color: #000;
  margin: 15px 0 10px 0;
}

.table .tittle {
  margin: 0;
  margin-bottom: 20px;
}

.content {
  text-align: center;
}

.amount {
  font-family: Helvetica;
  font-weight: 900;
  font-size: 36px;
  color: #7ED321;
}

/* .sociallayout {
  line-height: 40px;
} */

/* 我找不到解法只好這樣亂寫QQ */

/*
.test {
  display: inline-block;
  position: relative;
  bottom: 10px;
} */

.chartlayout {
  margin: 40px -15px;
}

/* 我找不到解法只好這樣亂寫QQ */

.data {
  display: inline-block;
  position: relative;
  bottom: -3.2px;
}

.line {
  border-bottom: 1px solid #EBEBEB;
}

.socialcell {
  margin-bottom: 30px;
}

.socialic {
  font-size: 40px;
  color: #000;
  margin-right: 15px;
}

.font20 {
  font-size: 20px;
}

.rateup {
  margin-left: 20px;
  color: #7ED321;
}

.ratedown {
  margin-left: 20px;
  color: #D0021B;
}

.ordercell {
  margin-bottom: 20px;
}

.user1 {
  height: 100px;
  background-image: url(img/1.jpg);
  background-size: cover;
}

.user2 {
  height: 100px;
  background-image: url(img/2.jpg);
  background-size: cover;
}

.user3 {
  height: 100px;
  background-image: url(img/3.jpg);
  background-size: cover;
}

.orderlayout {
  margin-bottom: 5px;
}

/* 我找不到解法只好這樣亂寫QQ */

/* .test02 {
  display: inline-block;
  position: relative;
  bottom: 7px;
} */

.total {
  font-size: 14px;
  font-weight: normal;
}